<h1>EnzoCarvalhoTaskApp</h1>

<hr />

<a routerLink="/">Home</a> |
<a routerLink="/tarefas">Tasks</a>

<router-outlet></router-outlet>

<!-- (20 pontos) A aplicação deve ter roteamento que permita navegar entre os componentes home e tarefas

(20 pontos) A aplicação deve ter um serviço chamado [SeuNome]TasksService que disponibilize uma lista de tarefas ao usuário, podendo ser fonte das tarefas o localStorage, uma classe, um projeto no Heroku ou um projeto no Firebase. Fica a seu critério. Não é necessário autenticação

(10 pontos) A aplicação deve ter um componente inicial com uma H1 com o título [SeuNome]TaskApp e a apresentação dos componentes abaixo conforme rota

(10 pontos) Um componente chamado [SeuNome]HomeComponent que apresente seu RA, seu nome completo e a quantidade total de tarefas cadastradas

(30 pontos) Um componente chamado [SeuNome]TasksComponent que apresente um input para incluir uma tarefa (apenas o título) e uma lista com as tarefas criadas com um comando que permita a remoção -->
